@charset "UTF-8";

@import './vendor/css-reset';
@import './vendor/rem.css';
@import url('https://fonts.googleapis.com/css?family=Roboto|Teko&display=swap" rel="stylesheet" rel="stylesheet');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

$font-family: 'Roboto', sans-serif;
$primary-color: #212121;
$secondary-color: #0d7377;
$desktop-width: 1024px;
$tablet-width: 768px;

// Basic functions
@mixin desktop {
    @media (min-width: $desktop-width) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: $tablet-width) {
      @content;
    }
  }

/* unvisited link */
a:link {
    color: $secondary-color;
  }
  
  /* visited link */
  a:visited {
    color: $secondary-color;
  }
  
  /* mouse over link */
  a:hover {
    color: $secondary-color;
  }
  
  /* selected link */
  a:active {
    color: $secondary-color;
  }


// Main style
html, body{
    height: 100%;
    background-color: #212121;
    color: white;
    font-family: $font-family;
    box-sizing: border-box;
}

#app, #app>div {
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/img/home-antenna.jpg');
    // Photo by Thomas Millot on Unsplash
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

main {
    display: flex;
    align-items: center;
    justify-content: center; 
}

header{
    color: #14ffec;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 86%;
    margin: 1rem 0;
    font-size: 2rem;
    text-align: center;
    h1, h2{
        width: 100%;
        padding: 0.6rem 0;
    }
    p{
        padding: 0.2rem;
    }
    .button{
        width: 60%;
        text-align: center;
        background-color: $secondary-color;
        padding: 1rem;
        text-decoration: none;
        color: white;
        box-shadow: 0.4rem 0.4rem 0.5rem 0 #323232;
        &:active{
            text-decoration: none;
        }
        &:visted{
            text-decoration: none;
        }
    }
}

.logo{
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
    font-weight: 100;
}

.signal{
    font-size: 2rem;
    margin: 0 0.4rem;
}

// Footer
footer{
    background-color: #212121;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 0.6rem 0;
    p{
        padding-right: 0.4rem;
    }
}

// Card
.currency-detail{
    flex-direction: column;
    width: 90%;
}

.card{
    margin-top: 0.8rem;
    background-color:rgba(0, 0, 0, 0.3);
    display: flex;
    height: 40%;
    flex-wrap: wrap;
    .card-name{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.6rem;
        padding: 0.4rem;
        background-color: #212121;
        img{
            height: 4rem;
            padding: 0.2rem;
            margin: 1rem;
            background-color: white;
            border-radius: 10rem
        }
    }
    .card-data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 2%;
        width: 100%;
        text-align: center;
    }
    .card-graph{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      margin-top: 1rem;
      h1{
        padding: 1rem;
        text-align: center;
      }
    }
    p{
        font-size: 0.8rem;
        margin: 0.4rem;
    }
    h3{
        font-size: 2rem;
    }
}

// Custom Selector
.box-position{
    position: relative;
    height: 6rem;
    width: 100%;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  
  .box select {
    background-color: $secondary-color;
    color: white;
    padding: 0.8rem;
    width: 100%;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  }